@keyframes slowSpin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes finishSpin {
  0% {
    transform: rotateZ(var(--current-rotation));
  }
  100% {
    transform: rotateZ(+180deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}

@keyframes pulseSpin {
  0% {
    transform: rotateZ(0deg) scale(0.95);
  }
  50% {
    transform: rotateZ(180deg) scale(1.05);
  }
  100% {
    transform: rotateZ(360deg) scale(0.95);
  }
}

@keyframes specialGlow {
  0% {
    background-color: lightgreen;
  }
  25% {
    background-color: lightblue;
  }
  50% {
    background-color: rgb(230, 173, 204);
  }
  75% {
    background-color: lightblue;
  }
  100% {
    background-color: lightgreen;
  }
}

div .white {
  background-color: white;
}

div .white:hover {
  background-color: red;
  box-shadow: 0 0 7px 2px inset black;
}

div .primary {
  background-color: rgb(40, 194, 148);
}

div .secondary {
  background-color: rgb(127, 136, 219);
}

div .tertiary {
  background-color: rgb(93, 172, 212);
}

div .default {
  border-radius: 0.3125rem;
  width: 6.25rem;
  height: 6.25rem;
  opacity: 0.95;
  transition: 0.1s all;
}

div .default:hover {
  cursor: pointer;
}

div .special {
  border-radius: 0.3125rem;
  width: 6.25rem;
  height: 6.25rem;
  opacity: 0.95;
  transition: 0.1s all;
}

div .special:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgb(123, 233, 185);
  background-color: rgb(231, 160, 234);
}

button.time {
  border-radius: 0.3125rem;
  width: 6.25rem;
  height: 6.25rem;
  opacity: 0.95;
  transition: 0.1s all;
  animation: specialGlow 1s infinite;
}

div .activated {
  cursor: pointer;
  width: 5.625rem;
  height: 5.625rem;
  margin: 0.625rem;
  animation: pulseSpin 1.2s linear;
  box-shadow: 0 0 6px 2px rgb(173, 230, 227);
}

div .activated:hover {
  box-shadow: 0 0 9px 3px rgb(202, 245, 243);
}

div.gameboard {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 20.625rem;
  height: 20.625rem;
}

div.gameboard-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 15rem;
}

.start-spin {
  transition: transform 1s ease-out;
  --board-spin: 20s;
  animation: slowSpin var(--board-spin) infinite linear;
}

.stop-spin {
  transition: transform 1s ease-out;
  animation: finishSpin 1s linear;
}

div.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  height: 6.25rem;
  margin: 0.3125rem;
}

.gameboard button {
  border: 0px;
}
